<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="./styles/dashboard_s.css" />
  <link rel="stylesheet" href="./styles/common_s.css" />
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</head>

<body>
  <div class="outer">
    <div class="col1">
      <img src="./images/logo.jpeg" id="logo" />
      <div class="menu_items">
        <h1>MENU</h1>
        <div class="menu_items_active">
          <ion-icon class="main-nav-icon" name="home-outline"></ion-icon>
          Home
        </div>
        <a href="./courses_s.html">
          <div>
            <ion-icon class="main-nav-icon" name="grid-outline"></ion-icon>
            Courses
          </div>
        </a>
        <a href="./grades_s.html">
          <div>
            <ion-icon class="main-nav-icon" name="checkbox-outline"></ion-icon>
            Grades
          </div>
        </a>
        <a href="./tasks_s.html">
          <div>
            <ion-icon class="main-nav-icon" name="easel-outline"></ion-icon>
            My Tasks
          </div>
        </a>
        <a href="calender_s.html">
          <div>
            <ion-icon class="main-nav-icon" name="calendar-outline"></ion-icon>
            Calender
          </div>
        </a>
        <a href="./inbox_s.html">
          <div>
            <ion-icon class="main-nav-icon" name="albums-outline"></ion-icon>
            Inbox
          </div>
        </a>
        <a href="./settings_s.html">
          <div>
            <ion-icon class="main-nav-icon" name="settings-outline"></ion-icon>
            Settings
          </div>
        </a>
      </div>
    </div>
    <div class="col2">
      <h1 id="welcome">Hello </h1>
      <h2>Welcome Back</h2>
      <br /><br /><br />
      <h2>Today's Lectures</h2>
      <div class="col2_info">Theory Of computation</div>
      <div class="col2_info">Basics of Web Programming</div>
      <div class="col2_info">Computer Organisation</div>
    </div>
    <div class="col3">
      <div style="width: 100%">
        <button id="student_logout">Logout</button>
      </div>
      <br /><br />
      <div id="dp">
        <img src="./images/camera.svg" id="profilepic" width="30px" height="30px" />
        <div id="blackfill"></div>
        <input type="file" id="filechooser" onchange="change()" />
      </div>
      <br /><br />
      <h2>Name</h2>
      <h3>BE-III CSE</h3>
      <br /><br />
      <h2>Notifications</h2>
      <br /><br /><br />
      <h2>Messages</h2>
    </div>
  </div>
  <p id="received_data">
    <%= data1 %>
  </p>
  <script src="../js/dashboard_s.js"></script>
</body>

</html>