<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/dashboard_t.css" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</head>

<body>
    <div class="outer">
        <div class="col1">
            <img src="../images/logo.jpeg" id="logo" />
            <div class="menu_items">
                <h1>MENU</h1>
                <div id="home" onclick="menu_click()">
                    <ion-icon name="home-outline"></ion-icon> &nbsp
                    Home
                </div>
                <div id="attendance" onclick="menu_click()">
                    <ion-icon name="laptop-outline"></ion-icon> &nbsp
                    Attendance
                </div>
                <div id="notes" onclick="menu_click()">
                    <ion-icon name="reorder-four-outline"></ion-icon> &nbsp
                    Notes
                </div>
                <div id="grades" onclick="menu_click()">
                    <ion-icon name="newspaper-outline"></ion-icon> &nbsp
                    Grades
                </div>
                <div id="settings" onclick="menu_click()">
                    <ion-icon name="laptop-outline"></ion-icon> &nbsp
                    Settings
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="col2-header">
                <h1 id="welcome">Hello</h1>
                <h2>Welcome Back</h2>
            </div>
            <br /><br /><br />
            <div id="home_content">In home</div>
            <div id="attendance_content">In attendance</div>
            <div id="notes_content">In notes</div>
            <div id="grades_content">In grades</div>
            <div id="settings_content">In settings</div>
        </div>
        <div class="col3">
            <div>
                <div style="width: 100%">
                    <button id="teacher_logout">Logout</button>
                </div>
                <br /><br />
                <div id="dp">
                    <img src="../images/camera.svg" id="profilepic" width="30px" height="30px">
                    <div id="blackfill"></div>
                    <input type="file" id="filechooser" onchange="change()">
                </div>
                <br /><br />
                <h2>Name</h2>
                <h3>BE-III CSE</h3>
                <br /><br />
                <h2>Notifications</h2>
                <br /><br /><br />
                <h2>Messages</h2>
            </div>
        </div>
    </div>
    <p id="received_data" style="display:none;">
        <%= data %>
    </p>
    <script src="../js/dashboard_t.js"></script>
</body>

</html>