body {
  /* background-color: #ccc; */
  /* padding: 10px; */
  margin: 0;
  font-family: "Arial";
}

.outer {
  /* background-color: #ade8f4; */
  background-color: #ddd;
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
  /* border-radius: 30px; */
  padding: 20px;
  display: flex;
}

#logo {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(82, 80, 80);
}

.col1 {
  width: 20%;
  /* background-color: #fa5252; */
  background-color: #0ca678;
  background-image: linear-gradient(to bottom right, #12b886, #15aabf);
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  /* overflow: auto; */
}

.menu_items div:hover {
  /* color: #c92a2a; */
  color: #0ca678;
  background-color: #eee;
  cursor: pointer;
}

.menu_items div.active {
  background-color: #087f5b;
  color: #eee;
}

.active {
  /* background-color: #c92a2a; */
  background-color: #087f5b;
  color: #eee;
  border-radius: 30%;
}

.col2 {
  width: 60%;
  /* background-color: #e6fcf5; */
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col2_header {
  width: 90%;
  margin: 0 20px;
  margin-top: 20px;
  padding-left: 10px;
}
.col2_header h1,
.col2_header h2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  font-size: 20px;
}
.col2_header h2 {
  font-weight: 600;
  font-size: 32px;
}

#courses_content,
#grades_content,
#tasks_content,
#materials_content,
#inbox_content,
#settings_content {
  text-align: center;
  display: none;
  flex-direction: column;
  width: 80%;
  justify-content: space-evenly;
}

.col2_info {
  background-color: antiquewhite;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  width: 50%;
  display: flex;
  justify-content: left;
  border: 2px solid #023e8a;
}
#home_content {
  padding: 20px;
  height: 36%;
  width: 87%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0 20px;
  margin-bottom: 20px;
  margin-left: 45px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.167);
}
#home_img_s {
  display: inline-block;
  margin: 0 20px;
  margin-bottom: 30px;
  margin-left: 49px;
  height: 35%;
  width: 90%;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.167);
  border-radius: 10px;
}
#courses_content,
#grades_content,
#tasks_content,
#materials_content {
  padding: 20px;
  height: 100%;
  overflow: auto;
  width: 87%;
  flex-direction: column;
  background-color: white;
  margin: 30px 20px;
  margin-left: 45px;
  margin-top: 0;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.167);
}
.content_heading {
  margin-top: 0;
}
#display_attendance,
#display_marks,
#tasks_table,
#material_table {
  background-color: white;
  /* background-image: linear-gradient(to bottom right, #25c28f, #24bab8); */
  color: black;
  border: none;
  border-radius: 80px;
  font-size: 16px;
  width: 88%;
  border-collapse: collapse;
  text-align: center;
}
#display_attendance tr:nth-child(even),
#display_marks tr:nth-child(even),
#tasks_table tr:nth-child(even),
#material_table tr:nth-child(even) {
  background-color: #ddd;
}
#display_attendance tr:nth-child(odd),
#display_marks tr:nth-child(odd),
#tasks_table tr:nth-child(odd),
#material_table tr:nth-child(odd) {
  background-color: white;
}
#display_attendance th,
#display_marks th,
#tasks_table th,
#material_table th {
  border: none;
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  padding: 5px;
}
#display_attendance td,
#display_marks td,
#tasks_table td,
#material_table td {
  border: none;
  /* background-color: #c3fae8; */
  color: black;
  padding: 5px;
}

.col3 {
  width: 20%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.col3_content {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.167);
  /* justify-content: center; */
  align-items: center;
  margin: 28px 5px;
  border-radius: 20px;
  height: 92%;
  background-color: white;
  width: 80%;
}
.menu_items {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.menu_items div {
  width: 80%;
  margin: 7px;
  display: flex;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
}

.main-nav-icon {
  margin-right: 10px;
}

#dp {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
}

#dp input {
  position: absolute;
  display: block;
  opacity: 0;
  height: 150px;
  width: 150px;
  z-index: 3;
  border-radius: 50%;
}

#blackfill {
  background-color: black;
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 0;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  color: black;
}

#student_logout {
  float: right;
  margin: 10px;
  border-radius: 20px;
  background-color: red;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

#student_logout:hover {
  background-color: rgb(115, 8, 8);
}

/* a {
  text-decoration: none;
  width: 100%;
  color: white;
} */

#material_table a {
  color: blue;
  text-decoration: underline;
}
