body {
  background-color: #023e8a;
  padding: 10px;
  font-family: "Arial";
}

.outer {
  background-color: #ade8f4;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border-radius: 30px;
  padding: 20px;
  display: flex;
}

#logo {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(82, 80, 80);
}

.col1 {
  width: 20%;
  background-color: #fa5252;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
}

.menu_items div:hover {
  color: #c92a2a;
  background-color: #eee;
  cursor: pointer;
}

.menu_items div.active {
  background-color: #c92a2a;
  color: #eee;
}

.active {
  background-color: #c92a2a;
  color: #eee;
  border-radius: 30%;
}

.col2 {
  width: 60%;
  background-color: #ffd5c2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#courses_content,
#grades_content,
#tasks_content,
#calender_content,
#inbox_content,
#settings_content {
  text-align: center;
  display: none;
  width: 80%;
  justify-content: space-evenly;
}

.col2_info {
  background-color: antiquewhite;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  width: 50%;
  display: flex;
  justify-content: left;
  border: 2px solid #023e8a;
}

#display_marks {
  border-collapse: collapse;
  width: 90%;
  border: 2px solid black;
  text-align: center;
}

#display_marks td,
#display_marks th {
  border: 2px solid black;
  padding: 5px;
}

#display_attendance{
  border-collapse: collapse;
  width: 90%;
  border: 2px solid black;
  text-align: center;
}

#display_attendance td,#display_attendance th{
  border: 2px solid black;
  padding: 5px;
}

.col3 {
  width: 20%;
  background-color: #9c36;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu_items {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.menu_items div {
  width: 80%;
  margin: 7px;
  display: flex;
  font-size: 24px;

  border-radius: 20px;
  padding: 10px;
}

.main-nav-icon {
  margin-right: 10px;
}

#dp {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
}

#dp input {
  position: absolute;
  display: block;
  opacity: 0;
  height: 150px;
  width: 150px;
  z-index: 3;
  border-radius: 50%;
}

#blackfill {
  background-color: black;
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 0;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  color: black;
}

#student_logout {
  float: right;
  margin: 10px;
  border-radius: 20px;
  background-color: red;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

#student_logout:hover {
  background-color: rgb(115, 8, 8);
}

a {
  text-decoration: none;
  width: 100%;
  color: white;
}