body {
    background-color: #023E8A;
    padding: 10px;
    font-family: 'Arial';
    box-sizing: border-box;
}

.outer {
    background-color: #ADE8F4;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border-radius: 30px;
    padding: 20px;
    display: flex;
}

.col1 {
    width: 20%;
    background-color: #5c7cfa;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
}

#logo {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(82, 80, 80);
}

.main-nav-icon {
    margin-right: 10px;
}

.col2 {
    width: 60%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col2-header{
    margin:10px 20px;
    width:90%;
    border-radius:15px;
    border: 2px solid #5c7cfa;
    padding-left: 10px;
    color: #3452cd;
    background-color: white;
}

.col3 {
    width: 20%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.col3>div{
    width: 80%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 5px;

}
.menu_items {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.menu_items div {
    width: 80%;
    margin: 7px;
    display: flex;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
}

.col2_info {
    background-color: antiquewhite;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    width: 50%;
    display: flex;
    justify-content: left;
    border: 2px solid #023E8A;
}

#dp {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
}

#teacher_logout {
    float: right;
    margin: 10px;
    border-radius: 20px;
    background-color: red;
    color: white;
    padding: 5px 10px;
}

#teacher_logout:hover {
    background-color: rgb(162, 7, 7);
}

.teacher_col2_row {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.teacher_progress {
    width: 35%;
    border-radius: 20px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    background-color: white;
}

#profilepic {
    position: relative;
    z-index: 1;

}

#dp input {
    position: absolute;
    display: block;
    opacity: 0;
    height: 150px;
    width: 150px;
    z-index: 3;
    border-radius: 50%;
}

#blackfill {
    background-color: black;
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 0;
    z-index: 2;
    border-radius: 50%;
    display: flex;

    color: black;
}

.circle {
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 50%;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(#ff960d 0deg 270deg, lightgrey 270deg 360deg);
    border-radius: 50%;
    width: 80%;
    height: 80%;
    padding: 10px;
}

.col1 div div:hover {
    color:#227ded;
    background-color: white;
    cursor: pointer;
}
.active{
    background-color:#364fc7;
}