body {
  background-color: #023e8a;
  padding: 10px;
  font-family: sans-serif;
  box-sizing: border-box;
}

.outer {
  background-color: #ade8f4;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border-radius: 30px;
  padding: 20px;
  display: flex;
}

.col1 {
  width: 20%;
  background-color: #5c7cfa;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
}

.menu_items div:hover {
  color: #364fc7;
  background-color: #eee;
  cursor: pointer;
}

.menu_items div.active {
  background-color: #364fc7;
  color: #eee;
}

.active {
  background-color: #364fc7;
  color: #eee;
  border-radius: 30%;
}

#logo {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(82, 80, 80);
}

.main-nav-icon {
  margin-right: 10px;
}

.col2 {
  width: 60%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col2-header {
  margin: 20px;
  width: 90%;
  border-radius: 15px;
  border: 2px solid #5c7cfa;
  padding-left: 10px;
  color: #3452cd;
  background-color: white;
}

#grades_content {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
}

#attendance_table,
#attendance_table td,
#attendance_table th {
  border: 2px solid black;
  text-align: center;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin: auto;
}

td,
th {
  padding: 5px;
}

.col3 {
  width: 20%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.col3 > div {
  height: 100%;
  width: 80%;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px 5px;
}

.menu_items {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.menu_items div {
  width: 80%;
  margin: 7px;
  display: flex;
  font-size: 24px;
  border-radius: 20px;
  padding: 10px;
}

.col2_info {
  background-color: antiquewhite;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  width: 50%;
  display: flex;
  justify-content: left;
  border: 2px solid #023e8a;
}

#dp {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
}

#teacher_logout {
  float: right;
  margin: 10px;
  border-radius: 20px;
  background-color: red;
  color: white;
  padding: 5px 10px;
}

#teacher_logout:hover {
  background-color: rgb(162, 7, 7);
}

.teacher_col2_row {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}

.teacher_progress {
  width: 35%;
  border-radius: 20px;
  height: 150px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  background-color: white;
}

#profilepic {
  position: relative;
  z-index: 1;
}

#dp input {
  position: absolute;
  display: block;
  opacity: 0;
  height: 150px;
  width: 150px;
  z-index: 3;
  border-radius: 50%;
}

#blackfill {
  background-color: black;
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 0;
  z-index: 2;
  border-radius: 50%;
  display: flex;

  color: black;
}

.circle {
  height: 80%;
  width: 80%;
  background-color: white;
  border-radius: 50%;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(#ff960d 0deg 270deg, lightgrey 270deg 360deg);
  border-radius: 50%;
  width: 80%;
  height: 80%;
  padding: 10px;
}
#home_content {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
}

#notes_content {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
}

#grades_content,
#attendance_content,
#notes_content,
#settings_content {
  display: none;
}
.submit,
#upload_pic {
  width: 60%;
  border: 0;
  background-color: #00b4d8;
  /* background-color: #ff960d; */
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: large;
}
#upload_pic {
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  width: 80%;
  cursor: pointer;
}
#upload_pic:hover {
  background-color: #2e9bb1;
}
.s_id {
  display: none;
}
.lec_taken,
.total_lec {
  text-align: center;
  margin: 10px 20px;
  width: 50%;
  border-radius: 15px;
  border: 2px solid black;
  padding-left: 10px;
  color: black;
  background-color: white;
}
.lec_taken h2,
.total_lec h2 {
  font-weight: 500;
  font-size: 25px;
}
.lec_taken p,
.total_lec p {
  font-size: 46px;
  font-weight: 600;
}
#attendance_form,
#grades_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
  max-height: 400px;
}
#attendance_form button {
  font-size: 20px;
  width: 40%;
  border-radius: 10px;
  cursor: pointer;
}
#attendance_form button:hover {
  background-color: #bbb;

  /* color: white; */
}
#attendance_content,
#notes_content,
#assignment_content,
#grades_content {
  height: 400px;
  width: 80%;
  display: none;
  flex-direction: column;
  background-color: white;
  margin: 20px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  padding: 20px 50px;
}
#notes_content div,
#assignment_content div {
  width: 100%;
}

#attendance_table,
#material_table,
#assignment_table,
#grades_table {
  width: 100%;
  margin-top: 20px;
  /* border-collapse: separate; */
  font-size: 18px;
  align-items: center;
}
#material_table a:link,
#material_table a:active,
#assignment_table a:active,
#assignment_table a:link {
  text-decoration: none;
  color: #023e8a;
}

#material_table a:hover,
#assignment_table a:visited,
#assignment_table a:hover {
  text-decoration: none;
  color: red;
}

.notes_div,
.assignment_div {
  overflow: auto;
  height: 300px;
}
.row .cell:nth-child(3) {
  display: none;
}
#attendance_table .first_row,
#material_table .first_row,
#assignment_table .first_row,
#grades_table .first_row {
  color: #fff;
  /* background: #6c7ae0; */
  background-color: #51cf66;
  font-size: 20px;
}
#attendance_table .first_row:hover {
  background: #6c7ae0;
}
#attendance_table tr:hover {
  background-color: #ececff;
  cursor: pointer;
}

#upload_widget2,
#upload_widget {
  padding: 2px 5px;
  border: none;
  border-radius: 10px;
  margin-left: 20px;
  font-size: 15px;
}
#grades_table tr td input {
  width: 90%;
}
