body {
    background-color: #023E8A;
    padding: 10px;
    font-family: 'Arial';
}

/* this div contains the image as well as the title of the website */
.header {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

/* the image logo of the website project */
.header img {
    border: 2px solid black;
    border-radius: 15px;
    margin-right: 25px;
    box-shadow: 10px 10px 10px grey;
}

/* this h1 contains the title of the website */
.header h1 {
    flex: 1;
    color: #03045E;
    text-align: center;
    background-color: #00B4D8;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px grey;
}

.outer {
    background-color: #ADE8F4;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border-radius: 30px;
    padding: 20px;
}

nav {
    background-color: #48cae4;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
    margin-bottom: 30px;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10px;
    /* width: 100%; */
}

nav ul li {
    list-style-type: none;
    display: block;
    background-color: #0096c7;
    width: 10%;
    font-size: 15.4px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color: white;
    transition: 0.2s;
}

a {
    text-decoration: none;
}

nav ul li:hover {
    background-color: #023E8A;
    cursor: pointer;
}

.about {
    background-image: linear-gradient(to bottom right, #0077b6, #90e0ef, #0077b6);
    width: 100%;
    height: 350px;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.leftabout {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    background-color: #ffb703;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: justify;
    height: 100px;
    overflow: hidden;
    transition: height 3s;
}

.contentp {
    padding: 8px;
}

.contentimg {
    width: 150px;
    height: 100px;
}

.content:hover {
    height: auto;
}

.middleabout {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightabout {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m1 {
    font-size: 35px;
    border-radius: 50%;
    background-image: linear-gradient(#03045e, #0096c7);
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
}

button:hover {
    cursor: pointer;
}

.login_page {
    display: none;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    position: fixed;
    top: 60px;
    left: 135px;
    width: 80%;
    height: 80%;

}

.left_grid {
    background: url(../Images/login_img.jpg);
    background-size: cover;
    border-radius: 20px 0 0 20px;
}

.right_grid {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 0 20px 20px 0;

}

h1 {
    text-align: center;
    color: #0077B6;
    font-weight: bold;
}

.form_label {
    font-size: large;
}

#login_email {
    border: none;
    background: none;
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 5px;
    font-size: large;
}

#login_password {
    border: none;
    background: none;
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 5px;
    font-size: large;

}

#sign_in {
    width: 100%;
    border: 0;
    background-color: #00B4D8;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
}

#login_container form {
    width: 100%;
    padding: 20px;
}

#login_container {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    padding: 10px;
    line-height: 2;
}

span {

    text-align: center;
    font-size: large;
}

span a {
    text-decoration: none;
    color: #0077B6;
}

#cancel {
    float: right;
}

#cancel:hover {
    cursor: pointer;
}

.register_modal {
    display: none;
    justify-content: space-evenly;
    background-color: white;
    width: 80%;
    height: 90%;
    border-radius: 20px;
    position: fixed;
    top: 15px;
    left: 115px;
    overflow: auto;
    padding: 10px;
}

.left_register {
    width: 50%;
    background: url("../images/manlaptop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: auto;
}

.register_page {
    width: 50%;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    overflow:auto;
}

#fname,
#lname,
#password,
#phone,
#birthdate,
#register_email,
#register_password,
#register_student,
#register_teacher,
#register_subject,
#register_lectures{
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 500;
    color: grey;
    border: none;
    border-bottom: 1px solid grey;
    background: none;
}

#register_year,#year{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#optional{
    display: none;
}

.register_page label {
    font-weight: 600;
    border-radius: 10px;
    font-size: large;
}

#register {
    width: 100%;
    border: 0;
    background-color: #00B4D8;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
}

#cancel_register {
    float: right;
}

#cancel_register:hover {
    cursor: pointer;
}

#login_signup {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}